.container {
  text-align: center;
  margin-bottom: 100px;
}

.logo {
  margin-bottom: 100px;
}

.title {
  font-size: 20px;
  margin-bottom: 2px;
}

.description {
  font-size: 14px;
  color: var(--foreground-muted);
  margin-bottom: 32px;
  max-width: 311px;
  text-align: center;
}

.input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.smart-search-container {
  position: relative;
}

.smart-search-cities {
  width: 300px;
  max-height: 150px;
  background-color: var(--input-background);
  border-radius: 10px;

  overflow: scroll;
  position: absolute;
  top: calc(100% + 10px);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.smart-search-cities.active {
  padding: 10px;
}

.smart-search-city {
  color: var(--input-foreground);
  font-size: 0.9rem;
  text-align: left;
}

.smart-search-city.focused {
  color: var(--foreground);
}
